<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.layout}">
<head>
    <title>Database Migration?</title>
    <script th:src="@{/databaseMigration/index.js}"></script>
</head>
<div layout:fragment="content">
    <div th:if="${totalRows}" id="migrationMessage" class="alert alert-primary text-center" style="white-space: pre-line;" role="alert">Migrating...</div>

    <fragment th:replace="~{fragments/formErrors}"></fragment>

    <form method="post" id="migrationForm" class="mx-5">
        <div class="mb-3" th:if="${totalRows}">
            <label for="dbMigrationQuestion" class="form-label">Do you wish to cancel the migration?</label>
            <div id="dbMigrationQuestionHelp" class="form-text mb-2">No migration data will be in the new database if migration is stopped!</div>
            <input type="checkbox" class="form-control" id="dbMigrationQuestion" data-size="lg" data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger" autocomplete="off" checked disabled>
        </div>
        <div class="mb-3" th:unless="${totalRows}">
            <label for="dbMigrationQuestion" class="form-label">Do you wish to migrate an old Pokemon Tower Defense 1 (PTD1) Database?</label>
            <div id="dbMigrationQuestionHelp" class="form-text mb-2">This only applies to databases that have the latest laravel-10 database schema!</div>
            <input type="checkbox" class="form-control" id="dbMigrationQuestion" name="isMigrating" data-size="lg" data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger" autocomplete="off" checked>
        </div>
        <div id="databaseDetails" class="d-flex flex-column align-items-center" th:style="${totalRows} ? 'display: none !important'">
            <div class="mb-3">
                <label for="databaseHost" class="form-label">Host</label>
                <input type="text" class="w-auto form-control text-center" id="databaseHost" name="host" size="45"/>
            </div>
            <div class="mb-3">
                <label for="databasePort" class="form-label">Port</label>
                <input type="text" class="w-auto form-control text-center" id="databasePort" name="port" size="5" maxlength="5" value="3306"/>
            </div>
            <div class="mb-3">
                <label for="databaseName" class="form-label">Name</label>
                <input type="text" class="form-control text-center" id="databaseName" name="name"/>
            </div>
            <div class="mb-3">
                <label for="databaseUsername" class="form-label">Username</label>
                <input type="text" class="form-control text-center" id="databaseUsername" name="username"/>
            </div>
            <div class="mb-3">
                <label for="databasePassword" class="form-label">Password</label>
                <input type="password" class="form-control text-center" id="databasePassword" name="password"/>
            </div>
        </div>
        <div th:if="${totalRows}" class="mb-3">
            <label for="migrationProgress" class="form-label">Migration Progress</label>
            <div id="migrationProgressHint" class="form-text mb-2"><span id="currentRow">0</span> / <span id="totalRows" th:text="${#numbers.formatInteger(totalRows, 0, 'COMMA')} ?: 0"></span> rows</div>
            <div class="progress">
                <div id="migrationProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0"></div>
            </div>
        </div>

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>