<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.layout}">
<head>
    <title>Database Migration?</title>
    <script>
        window.addEventListener('load', function () {
            const databaseDetailsStyle = document.getElementById('databaseDetails').style

            document.getElementById("dbMigrationQuestion").onchange = onQuestionToggle
            function onQuestionToggle(e) {
                databaseDetailsStyle.setProperty('display',
                    e.target.checked ? 'flex' : 'none',
                    'important')
            }

            const totalRowsElement = document.getElementById('totalRows')

            if (totalRowsElement) {
                const migrationMessage = document.getElementById('migrationMessage')
                const migrationProgress = document.getElementById('migrationProgress')

                const currentRowElement = document.getElementById('currentRow')
                const totalRows = parseInt(totalRowsElement.textContent.replaceAll(',', ''))

                const interval = setInterval(async function () {
                    try {
                        const response = await fetch('progress')

                        // Means that the Database Migration Plugin disabled intercepting
                        if (response.status == 404) {
                            currentRowElement.textContent = totalRows.toLocaleString()
                            migrationProgress.style.width = '100%'
                            migrationMessage.classList.replace('alert-primary', 'alert-success')
                            migrationMessage.textContent = 'Migration Successful! Redirecting in 5 Seconds'
                            migrationProgress.classList.add('bg-success')

                            setTimeout(function () {
                                location.href = "/"
                            }, 5000)

                            clearInterval(interval)
                            return
                        }

                        const currentRowString = await response.text()
                        const currentRow = parseInt(currentRowString)

                        if (isNaN(currentRow)) {
                            migrationMessage.classList.replace('alert-primary', 'alert-danger')
                            migrationMessage.textContent = currentRowString
                            migrationProgress.classList.add('bg-danger')
                            clearInterval(interval)
                            return
                        }

                        currentRowElement.textContent = currentRow.toLocaleString()
                        migrationProgress.style.width = ((currentRow / totalRows) * 100) + '%'
                    } catch (error) {
                        migrationMessage.classList.replace('alert-primary', 'alert-danger')
                        migrationMessage.textContent = error.message
                        migrationProgress.classList.add('bg-danger')
                        clearInterval(interval)
                    }
                }, 1000)
            }
        })
    </script>
</head>
<div layout:fragment="content">
    <div th:if="${totalRows}" id="migrationMessage" class="alert alert-primary text-center" style="white-space: pre-line;" role="alert">Migrating...</div>

    <fragment th:replace="~{fragments/formErrors}"></fragment>

    <form method="post" id="migrationForm" class="mx-5">
        <div th:if="${totalRows}">
            <div class="mb-3">
                <label for="dbMigrationQuestion" class="form-label">Do you wish to cancel the migration?</label>
                <div class="form-text mb-2">No migration data will be in the new database if migration is stopped!</div>
                <input type="checkbox" class="form-control" id="dbMigrationQuestion" data-size="lg" data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger" autocomplete="off" checked disabled>
            </div>
            <div class="mb-3">
                <label for="migrationProgress" class="form-label">Migration Progress</label>
                <div id="migrationProgressHint" class="form-text mb-2"><span id="currentRow">0</span> / <span id="totalRows" th:text="${#numbers.formatInteger(totalRows, 0, 'COMMA')} ?: 0"></span> rows</div>
                <div class="progress">
                    <div id="migrationProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0"></div>
                </div>
            </div>
            <div id="databaseDetails"></div>
        </div>
        <div th:unless="${totalRows}">
            <div class="mb-3">
                <label for="dbMigrationQuestion" class="form-label">Do you wish to migrate an old Pokemon Tower Defense 1 (PTD1) Database?</label>
                <div class="form-text mb-2">This only applies to databases that have the latest laravel-10 database schema!</div>
                <input type="checkbox" class="form-control" id="dbMigrationQuestion" name="isMigrating" data-size="lg" data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger" autocomplete="off" checked>
            </div>
            <div id="databaseDetails" class="d-flex flex-column align-items-center">
                <div class="mb-3">
                    <label for="databaseHost" class="form-label">Host</label>
                    <input type="text" class="w-auto form-control text-center" id="databaseHost" name="host" size="45" th:value="${host} ?: ''"/>
                </div>
                <div class="mb-3">
                    <label for="databasePort" class="form-label">Port</label>
                    <input type="text" class="w-auto form-control text-center" id="databasePort" name="port" size="5" maxlength="5" th:value="${port} ?: 3306"/>
                </div>
                <div class="mb-3">
                    <label for="databaseName" class="form-label">Name</label>
                    <input type="text" class="form-control text-center" id="databaseName" name="name" th:value="${name} ?: ''"/>
                </div>
                <div class="mb-3">
                    <label for="databaseUsername" class="form-label">Username</label>
                    <input type="text" class="form-control text-center" id="databaseUsername" name="username" th:value="${username} ?: ''"/>
                </div>
                <div class="mb-3">
                    <label for="databasePassword" class="form-label">Password</label>
                    <input type="password" class="form-control text-center" id="databasePassword" name="password"/>
                </div>
            </div>
        </div>

<!--        <input type="hidden"-->
<!--               th:name="${_csrf.parameterName}"-->
<!--               th:value="${_csrf.token}" />-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>