<footer id="footer" class="fixed-bottom border-top py-3 bg-light">
  <ul class="d-flex justify-content-end align-items-center list-unstyled me-4 mb-0">
    <li class="ms-3"><a class="text-body-secondary" href="https://discord.com/invite/APj7FaM4UZ">FGA <i class="bi bi-discord h3"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://discord.com/invite/qc9yKebmDN">PTD <i class="bi bi-discord h3"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://github.com/JordanPlayz158/PTD1-Server"><i class="bi bi-github h3"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://jordanplayz158.xyz/JordanPlayz158/PTD1-Server"><i class="bi bi-gitlab h3"></i></a></li>
  </ul>
</footer>